<div class="adjustable-modal" [style.height.vh]="45">
    <h1 mat-dialog-title class="col-sm-2" style="background-color: rgb(245 238 238 / 87%);">Filter</h1>
    <div mat-dialog-content class="dialog-content">
        <div *ngIf="valdationErrors && valdationErrors.length">
            <div *ngFor="let error of valdationErrors">
                <div *ngIf="error.field === 'name'" class="text-danger">{{ error.code }}</div>
            </div>
        </div>

        <div class="mb-3 row mt-2">
            <label for="filterName" class="col-sm-2 col-form-label fw-bold required">Filter name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="filterName" [(ngModel)]="filter.name">
            </div>
        </div>

        <div *ngIf="valdationErrors && valdationErrors.length">
            <div *ngFor="let error of valdationErrors">
                <div *ngIf="error.field === 'criterias'" class="text-danger">{{ error.code }}</div>
            </div>
        </div>

        <ng-container *ngFor="let criteria of criterias; let first = first; let index = index;">
            <div class="mb-3 row">
                <div class="col-sm-2">
                    <label class="col-form-label fw-bold required" *ngIf="first">Criteria</label>
                </div>
                <div class="col-sm-3 mt-1">
                    <select class="form-select" [(ngModel)]="criteria.criteriaType">
                        <option *ngFor="let classifier of criteriaTypes" [ngValue]="classifier">
                            {{ classifier.classifierValue.value }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3 mt-1">
                    <select class="form-select" [(ngModel)]="criteria.condition">
                        <option [ngValue]="null" *ngIf="!criteria.condition">Select Condition</option>
                        <ng-container *ngFor="let condition of comparisonTypes">
                            <option *ngIf="criteria.criteriaType != null && condition.parentCode === criteria.criteriaType.code" [ngValue]="condition">
                                {{ condition.classifierValue.value }}
                            </option>
                        </ng-container>
                    </select>
                </div>
                <div class="col-sm-3 mt-1">
                    <input *ngIf="criteria.criteriaType === null || criteria.criteriaType.code == 'CRITERIA_TYPE_AMOUNT'" type="number" class="form-control" min="0" step="1" [(ngModel)]="criteria.value">

                    <mat-form-field *ngIf="criteria.criteriaType != null && criteria.criteriaType.code == 'CRITERIA_TYPE_DATE'" appearance="outline" class="full-width">
                        <input matInput [matDatepicker]="dp" readonly [(ngModel)]="criteria.value" class="form-control" [value]="criteria.value">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                    </mat-form-field>


                    <input type="text" *ngIf="criteria.criteriaType != null && criteria.criteriaType.code == 'CRITERIA_TYPE_TITLE'" class="form-control" [(ngModel)]="criteria.value">
                </div>

                <div class="col-sm-1">
                    <button mat-icon-button color="warn" (click)="deleteRow(index)">
                        <mat-icon aria-label="Delete row">delete</mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>

        <div class="text-center mt-5">
            <button mat-raised-button color="primary" (click)="addRow()" style="text-transform: uppercase;">Add New Row</button>
        </div>

        <div class="mb-3 row mt-5">
            <div class="col-sm-2">
                <label class="col-form-label fw-bold required">Selection</label>
            </div>
            <div class="col-sm-10">
                <mat-radio-group class="radio-group" (change)="onCriteriaChange($event)">
                    <ng-container *ngFor="let criteria of criterias; let i = index">
                        <mat-radio-button [value]="criteria" class="radio-button">
                            {{ 'Select ' + (i + 1) }}
                        </mat-radio-button>
                    </ng-container>
                </mat-radio-group>
            </div>
        </div>

    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-button color="warn" (click)="onClose()">Close</button>
        <button mat-button class="save-button" (click)="onSave()">Save</button>
    </div>

</div>
